.dd-select-wrapper{
	
}

.dd-select-wrapper .lc-wrapper{
	width: 300px;
	float: left;
	position: relative;
}

.dd-select-wrapper .rc-wrapper{
	float: left;
	margin-left: -300px;
	width: 100%;
}

.dd-select-wrapper .rc-container{
	margin-left: 350px;
	width: 300px;
}

.dd-select-wrapper ul{
	border:1px solid #494949;
	background-color: #fff;
	padding: 0;
	height: 310px;
	overflow-y:auto;
	margin: 0;
	list-style-type: none !important;
}

.dd-select-wrapper li{
	list-style-type: none !important;
	padding: 0px 10px;
	margin: 0;
}

.dd-select-wrapper  ul li {
	border-bottom: 1px solid #ccc;
	background: none;
	cursor: default;
}

.dd-select-wrapper li.group-container{
	padding: 0;
}

.dd-select-wrapper li > ul{
	border: none;
	border-top: 1px solid #ccc;
	margin:0;
	padding-left: 10px;
	height: auto;
	display:none;
}

.dd-select-wrapper ul > li.expanded{
	background-color: transparent;
	background-image: none;
}

.dd-select-wrapper ul > li.expanded > ul{
	display: block;
}

.dd-select-wrapper ul > li > div{
	border-bottom: none;
	color:#696969;
	background-color: #efefef;
}

.dd-select-wrapper ul > li.full-group > div{
	font-weight: bold;
	color:#494949;
	background-color: transparent;
}

.dd-select-wrapper ul > li > ul > li{
	border-left: 1px solid #ccc;
}

.dd-select-wrapper ul > li > ul > li.last{
	border-bottom: none;
}

.dd-select-wrapper ul.src-list li.search-hidden{
	display: none;
}

.dd-select-wrapper  ul li.dd-select-placeholder{
	border-bottom: 1px solid #ccc;
	background-color: #cfcfcf;
	text-indent: -1000px;
}

.dd-select-wrapper  ul li.dd-select-placeholder *{
	background: transparent !important;
}

.dd-select-wrapper  ul li.no-sort{
	border: none;
}

.dd-select-wrapper .dd-select-drag-helper,
.dd-select-wrapper li.dd-select-drag-helper.expanded{
	border: 1px solid #ccc;
	background-color: #fff;
	background-image: none;
	height: 1.7em;
	width: 280px;
	list-style-image: none;
}

.dd-select-wrapper ul.src-list.dd-select-droppable-higlight,
.dd-select-wrapper ul.trg-list.dd-select-droppable-higlight{
	border: 1px solid #666;
}

.dd-toolbox{
	min-height: 30px;
}

.dd-select-wrapper .clr-btn{
	cursor: pointer;
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
	border:1px solid #999999;
	background: url(images/gradient-btn-bg.png) left top repeat-x #fff;
	color:#474747;
	cursor:pointer;
	height:28px;
	font-size:11px;
}
.dd-select-wrapper .clr-btn:hover{
	background: url(images/gradient-btn-bg.png) left bottom repeat-x #fff;
}

.dd-select-wrapper span.expand-btn{
	background:url(images/expand-collapse-btn.png) left bottom no-repeat transparent;
	margin:5px 5px 0 5px;
	display: block;
	line-height: 20px;
	height:11px;
	width: 11px;
	float: left;
}

.dd-select-wrapper span.expand-btn:hover{
	background:url(images/expand-collapse-btn.png) right bottom no-repeat transparent;
	cursor: pointer;
}

.dd-select-wrapper span.collapse-btn{
	background:url(images/expand-collapse-btn.png) left top no-repeat transparent;
	margin:5px 5px 0 5px;
	display: block;
	line-height: 20px;
	height:11px;
	width: 11px;
	float: left;
}

.dd-select-wrapper span.collapse-btn:hover{
	background:url(images/expand-collapse-btn.png) righ top no-repeat transparent;
	cursor: pointer;
}

.dd-select-wrapper .switch span {
	padding: 0 7px;
	font-size: 11px;
	line-height: 16px;
	height: 16px;
	background: url(images/btn-bg_.png) left top repeat-x transparent;
	border: 1px solid #999;
	cursor: pointer;
	border-right: none;
}

.dd-select-wrapper .switch span:hover{
	background: url(images/btn-bg_.png) left bottom repeat-x transparent;
}

.dd-select-wrapper .switch span.activated {
	background-color: #DFDFDF;
	background-image: none;
}

.dd-select-wrapper .switch span.first{
	-moz-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}

.dd-select-wrapper .switch span.last{
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
	border-right: 1px solid #999;
}

.dd-select-wrapper search.panel{
	width: 300px;
}

.dd-select-wrapper .dd-select-lv-search{
	width: 271px;
	padding-right: 25px;
	float: left;
}

.dd-select-wrapper .clear-search{
	display: block;
	width: 25px;
	height: 16px;
	float: left;
	margin-left: -25px;
	position: relative;
	cursor: pointer;
}

.dd-select-lv-search.throbbing{
}

.ddSelect-processed {
	display: none;
}

.dd-select-drag-helper{
	width: 100px;
	height: 30px;
	background-color: #ffff00;
}